# IntelliJ
.idea/*

# Python / virtual env
venv
env
.python-version
__pycache__

# Temp files directory
w
tensorflow-for-poets-2
flickr_images
extracted_features
trained_classifiers
reconstructed
*.pkl
